.questionul {
    padding-left: 0;
    margin-top: 5px;
    list-style-type: none;
}

.questionul ul.nested {
    list-style-type: none;
    display: none;
    padding-left: 2.5rem;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.questionul ul.active {
    display: block;
}

.questionul .questioncheckbox {
    padding-bottom: 0px;
    margin-top: 2px;
}

.questionul .categorycheckbox {
    padding-bottom: 0px;
    margin-top: 2px;
}

.questionul .questionlabel {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.questionul .questiondiv {
    display: flex;
}