/* Remove default bullets */
.questionul ul, #myUL {
    list-style-type: none;
}
/* Remove margins and padding from the parent ul */
.questionul #myUL {
    margin: 0;
    padding: 0;
}
/* Style the caret/arrow */
.questionul .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
/* Create the caret/arrow with a unicode, and style it */
.questionul .caret::before {
    content: "\25B6";
    color: gray;
    display: inline-block;
    margin-right: 6px;
}
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.questionul .caret-down::before {
    transform: rotate(90deg);
}
/* Hide the nested list */
.questionul .nested {
    display: none;
}
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.questionul .active {
    display: block;
}
.questionul .questioncheckbox {
    padding-bottom: 0px;
    margin-top: 2px;
}
.questionul .categorycheckbox {
    padding-bottom: 0px;
    margin-top: 2px;
}
.questionul .questionlabel {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.questionul .questiondiv {
    display: flex;
    align-items: end;
}
.questionul {
    padding-left:0;
    margin-top: 5px;
    list-style-type: none;
}