<style>
    /* Remove default bullets */
    ul, #myUL {
        list-style-type: none;
    }
    /* Remove margins and padding from the parent ul */
    #myUL {
        margin: 0;
        padding: 0;
    }
    /* Style the caret/arrow */
    .caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
    }
    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
        content: "\25B6";
        color: gray;
        display: inline-block;
        margin-right: 6px;
    }
    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
        transform: rotate(90deg); 
    }
    /* Hide the nested list */
    .nested {
        display: none;
    }
    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
        display: block;
    }
    .questioncheckbox {
        padding-bottom: 0px;
        margin-top: 2px;
    }
    .categorycheckbox {
        padding-bottom: 0px;
        margin-top: 2px;
    }           
    .questionlabel {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .questiondiv {
        display: flex;
        align-items: end;
    }
    .questionul {
        padding-left:0;
        margin-top: 5px;
    }
</style>
<input type="text" id="questionsearch" size="15" onkeyup="updatequestionview(null);" placeholder="{{i18n_miquiz_create_questions_search}}"></input> 
<ul class="questionul">
{{#categories}}
<li><div class="questiondiv"><span class="caret"></span><label class="questionlabel"><input type="checkbox" onclick="updatequestionview(this);" class="categorycheckbox"> {{category_name}}</label></div><ul class="nested">
    {{#questions}}
        <li><div class="questiondiv"><label class="questionlabel"><input type="checkbox" class="questioncheckbox" onclick="updatequestionview(this);" value="{{question_id}}"> {{question_name}}</label>
        <a href="/question/preview.php?id={{question_id}}&courseid={{category_id}}" target="popup" onclick="window.open('/question/preview.php?id={{question_id}}&courseid={{category_id}}','popup','width=600,height=600'); return false;" style="cursor: pointer;">
            <i class="icon fa fa-search-plus fa-fw iconsmall" aria-hidden="true" title="Preview" aria-label="Preview"></i>
        </a></div></li>
    {{/questions}}
</ul></li>
{{/categories}}
</ul>
<div id="questionsstatus"></div>
<script>
var toggler = document.getElementsByClassName("caret");
var i;
for (i=0; i<toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
        this.parentElement.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
    });
}
updatequestionview = function(el){                
    if(el!=null){
        if(el.classList.contains("categorycheckbox")){
            var subquestions = el.parentElement.parentElement.parentElement.querySelectorAll(".questioncheckbox");
            for (i=0; i<subquestions.length; i++){
                subquestions[i].checked=el.checked;
            }
        } else if(el.classList.contains("questioncheckbox")){
            var catinput = el.parentElement.parentElement.parentElement.parentElement.parentElement.querySelector(".categorycheckbox");
            if(!el.checked && catinput.checked){
                catinput.checked = false;
            }
        }
    }
    var searchText = document.getElementById("questionsearch").value.toLowerCase();
    var questioninputs = document.querySelectorAll(".questioncheckbox");
    var questionids = [];
    for (i=0; i<questioninputs.length; i++){
        if(questioninputs[i].checked)
            questionids.push(parseInt(questioninputs[i].value));
        if(searchText != "" && !questioninputs[i].parentElement.innerText.toLowerCase().includes(searchText))
            questioninputs[i].parentElement.parentElement.style.display="none";
        else
            questioninputs[i].parentElement.parentElement.style.display="flex";
    }
    document.getElementById("questionsstatus").innerText = "{{i18n_miquiz_create_questions_selected}}".replace("${numquestions}", questionids.length);
    document.querySelector("input[name=questions]").value = questionids;
}
updatequestionview(null);            
</script>